
<div class="details-wrapper">
    <div class="details-header">
        <div class="title">
            General Infomation
        </div>
    </div>
    
    <div class="details-content">
    
          <mat-form-field class="field">
            <mat-label>Position</mat-label>
            <input matInput type="text"  placeholder="Dev..." [(ngModel)]="newEmployee.position.position"/>
            <mat-icon matSuffix color="warn">work</mat-icon>
          </mat-form-field>

          <mat-form-field class="field">
            <mat-label>Name</mat-label>
            <input matInput type="text"  placeholder="Haze..." [(ngModel)]="newEmployee.name"/>
            <mat-icon matSuffix color="warn">account_box</mat-icon>
          </mat-form-field>
    
          <mat-form-field class="field">
            <mat-label>Email</mat-label>
            <input matInput type="text"  placeholder="a@gmail.com..." [(ngModel)]="newEmployee.email" />
            <mat-icon matSuffix color="warn">email</mat-icon>
          </mat-form-field>
    
          <mat-form-field class="field">
            <mat-label>Phone number</mat-label>
            <input matInput type="number"  placeholder="0976..." [(ngModel)]="newEmployee.phoneNumber" />
            <mat-icon matSuffix color="warn">phone</mat-icon>
          </mat-form-field>
    </div>
    
    <div>
        <div class="title">
            Home Address
        </div>
        <div class="details-content">
        
            <mat-form-field class="field">
                <mat-label>Street</mat-label>
                <input matInput type="text"  placeholder="214 Nguyen Truong To..." [(ngModel)]="newEmployee.homeAddress.street" />
                <mat-icon matSuffix color="warn">home</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="field">
                <mat-label>Ward</mat-label>
                <input matInput type="text"  placeholder="Tan Thanh..." [(ngModel)]="newEmployee.homeAddress.ward" />
                <mat-icon matSuffix color="warn">home</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="field">
                <mat-label>District</mat-label>
                <input matInput type="text"  placeholder="Tan Phu..." [(ngModel)]="newEmployee.homeAddress.district" />
                <mat-icon matSuffix color="warn">home</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="field">
                <mat-label>City</mat-label>
                <input matInput type="text"  placeholder="Ho Chi Minh..." [(ngModel)]="newEmployee.homeAddress.city" />
                <mat-icon matSuffix color="warn">home</mat-icon>
            </mat-form-field>
        </div>
    </div>
    
    <div class="">
        <div class="title">
            Company Address
        </div>
        <div class="details-content">
            <mat-form-field class="field">
                <mat-label>Street</mat-label>
                <input matInput type="text"  placeholder="214 Nguyen Truong To..." [(ngModel)]="newEmployee.companyAddress.street" />
                <mat-icon matSuffix color="warn">location_city</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="field">
                <mat-label>Ward</mat-label>
                <input matInput type="text"  placeholder="Tan Thanh..." [(ngModel)]="newEmployee.companyAddress.ward" />
                <mat-icon matSuffix color="warn">location_city</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="field">
                <mat-label>District</mat-label>
                <input matInput type="text"  placeholder="Tan Phu..." [(ngModel)]="newEmployee.companyAddress.district" />
                <mat-icon matSuffix color="warn">location_city</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="field">
                <mat-label>City</mat-label>
                <input matInput type="text"  placeholder="Ho Chi Minh..." [(ngModel)]="newEmployee.companyAddress.city" />
                <mat-icon matSuffix color="warn">location_city</mat-icon>
            </mat-form-field>
      </div>
      
    </div>
    <div class="button-wrapper">
        <section class="card-button">
            <div class="example-button-row">
              <div class="example-flex-container">
                <div class="example-button-container">
                  <button mat-fab extended color="warn">
                    <mat-icon>delete</mat-icon>
                    Cancle
                  </button>
                </div>
              </div>
            </div>
        </section>
    
        <section class="card-button">
            <div class="example-button-row">
              <div class="example-flex-container">
                <div class="example-button-container">
                  <button mat-fab extended color="primary" (click)="onClickCreateButton()">
                    <mat-icon>add</mat-icon>
                    Create
                  </button>
                </div>
              </div>
            </div>
        </section>
    </div>
    
    
</div>
