.example-card 
  max-width: 320px
  background-color: #00000012
  cursor: pointer
  transition: all 0.5s ease

.example-card:hover
    transform: scale(1.02)

.example-card_header
    display: flex
    flex-direction: row
    align-items: flex-start

.card-button
    column-gap: 10px

.card-container-content
    row-gap: 5px
    
.card-content
    display: flex
    flex-direction: row
    align-items: center
    column-gap: 5px

.card-link
    text-decoration: none
    color: #000
.example-header-image 
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
  background-size: cover
