
<a class="card-link" [routerLink]="['/details', employee.id]">
    <mat-card class="card" appearance="outlined">
        <mat-card-header class="card_header">
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{employee.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="card-container-content">
            <mat-list-item class="card-content">
                <mat-icon matListItemIcon>work</mat-icon>
                <span matListItemTitle>{{employee.position.position}}</span>
            </mat-list-item>
            <mat-list-item class="card-content">
                <mat-icon matListItemIcon>email</mat-icon>
                <span matListItemTitle>{{employee.email}}</span>
            </mat-list-item>
            <mat-list-item class="card-content">
                <mat-icon matListItemIcon>location_city</mat-icon>
                <span matListItemTitle>{{employee.companyAddress.street}}</span>
            </mat-list-item>
        </mat-card-content>
        <mat-card-actions class="button-container">
            <section *ngIf="jwtService.getRole() === 'ROLE_ADMIN'">
              <button mat-fab extended color="warn">
                <mat-icon>delete</mat-icon>
                Remove
              </button>
            </section>
            <section class="card-button">
              <button mat-fab extended color="primary">
                <mat-icon>visibility</mat-icon>
                View Details
              </button>
            </section>
        </mat-card-actions>
    </mat-card>
</a>
