<mat-stepper linear #stepper class="login-container" color="primary">
        <mat-step [stepControl]="firstFormGroup" [editable]="true">
          <div class="login-container-form">
            <ng-template matStepLabel><span class="text-default">Fill out your username!</span></ng-template>
            <div class="form-container">
                <form class="login-form" (ngSubmit)="handleVerifyUsername(stepper)"
                    [formGroup]="firstFormGroup">
                    <span class="forgot-password">Forgot password</span>
                    <input placeholder="Username..." type="text" [(ngModel)] = "username" name="username" required
                        formControlName="firstCtrl"/>
                    <span *ngIf="isErrorUsername" class="error">{{errorUsername}}</span>
                    <!-- <button class="button-confirm" (click)="handleForgotPassword()">Confirm</button> -->
                </form>
            </div>
            <div>
              <button mat-button (click)="handleVerifyUsername(stepper)"><span class="text-default">Next</span></button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [editable]="true">
            <div class="login-container-form">
            <ng-template matStepLabel><span class="text-default">Enter your code!</span></ng-template>
            <div class="form-container">
                <form class="login-form" (ngSubmit)="handleVerifyCode(stepper)"
                    [formGroup]="secondFormGroup">
                    <span class="forgot-password">Forgot password</span>
                    <input placeholder="Your code..." type="text" [(ngModel)] = "code" name="code" required
                        formControlName="secondCtrl"/>
                    <span *ngIf="isErrorCode" class="error">{{errorCode}}</span>
                    <!-- <button class="button-confirm" (click)="handleForgotPassword()">Confirm</button> -->
                </form>
            </div>
            <div>
                <button mat-button matStepperPrevious><span class="text-default">Back</span></button>
            </div>
            <div>
              <button mat-button (click)="handleVerifyCode(stepper)"><span class="text-default">Next</span></button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" [editable]="true">
            <div class="login-container-form">
            <ng-template matStepLabel><span class="text-default">Reset password!</span></ng-template>
            <div class="form-container">
                <form class="login-form" (ngSubmit)="handleChangePassword(stepper)"
                    [formGroup]="thirdFormGroup">
                    <span class="forgot-password">Forgot password</span>

                    <div class="input-text">
                        <input placeholder="New password..." [type] = "isHidePassword ? 'password' : 'text'" [(ngModel)] = "newPassword" name="newPassword" required
                            formControlName="thirdCtrl" class="input-password"/>
                        <mat-icon *ngIf="!isHidePassword" class="icon" (click)="handleHidePassword()">visibility</mat-icon>
                        <mat-icon *ngIf="isHidePassword" class="icon" (click)="handleHidePassword()">visibility_off</mat-icon>
                    </div>
                    <span *ngIf="isErrorPasswordFormat" class="error">{{errorPassword}}</span>

                    <div class="input-text">
                        <input placeholder="Retype new password..." [type] = "isHidePassword ? 'password' : 'text'" [(ngModel)] = "retypeNewPassword" name="retypeNewPassword" required
                            formControlName="thirdCtrl" class="input-password"/>
                        <mat-icon *ngIf="!isHidePassword" class="icon" (click)="handleHidePassword()">visibility</mat-icon>
                        <mat-icon *ngIf="isHidePassword" class="icon" (click)="handleHidePassword()">visibility_off</mat-icon>
                    </div>
                    <span *ngIf="isErrorRetypePassword" class="error">Retype password don't match!</span>
                    <!-- <button class="button-confirm" (click)="handleForgotPassword()">Confirm</button> -->
                </form>
            </div>
            <div>
                <button mat-button matStepperPrevious><span class="text-default">Back</span></button>
            </div>
            <div>
                <button mat-button (click)="handleChangePassword(stepper)"><span class="text-default">Next</span></button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel><span class="text-default">Done!</span></ng-template>
          <div class="login-container-form">
            <p class="text-done">You are done now!</p>
            <div class="button-navigate-container">
                <button mat-button matStepperPrevious><span class="text-default">Back</span></button>
                <button mat-button (click)="stepper.reset()"><span class="text-default">Next</span></button>
                <a [routerLink]="['/login']" routerLinkActive="router-link-active" >
                    <button class="button-navigate" mat-fab extended>
                        <mat-icon>login</mat-icon>
                        Log in
                    </button>
                </a>
            </div>
          </div>
        </mat-step>
</mat-stepper>


